body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 13px;
}

/* Style the tab */
.tab {
    max-width: 524px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    max-width: 500px;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.lncontainer {
    position: relative;
    width: 100%;
    text-align: center;
}

.lnqrcode {
    display: inline;
}

.lntext {
    width: 100%;
    border: none;
    text-overflow: ellipsis;
}

.lnwait {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lnsettled {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-size: 300%;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.footnotebox {
    position: relative;
    vertical-align: baseline;
}

.footnote {
    position: absolute;
    min-width: 20em;
    left: 0px;
    top: 25px;
    font-size: .7em;
    border: 1px solid;
    padding: 5px;
    background-color: #fff;
    z-index: 9999;
}
